@charset "UTF-8";

#Middle
{
    width: inherit;
    float:left;
    min-height: 500pt;
    overflow: auto;
}
#Left
{
    text-align: left;
    align-content: stretch;
    float: inherit;
    width: 25%;
    overflow: auto;
}
#Center
{
    text-align: center;
    align-content: space-around;
    float: inherit;
    width: 50%;
    overflow: auto;
}
#Right
{
    text-align: right;
    align-content: space-around;
    float: inherit;
    width: 25%;
    overflow: auto;
}
