@charset "UTF-8";

/**/

#Middle
{
    width: inherit;
    min-height: 500pt;
    margin-inside: 1%;
    align-content: center;
}

#Middle > *
{
    min-height: inherit;
    margin-inside: inherit;
}

#Left
{
    text-align: left;
    overflow: auto;
}
#Center
{
    text-align: center;
    overflow: auto;
}

#Right
{
    text-align: right;
    overflow: auto;
}

#Bottom
{
    text-align: center;
    min-height: 50px;
    overflow: auto;
    clear: both;
}
/**/

body
{
    word-break: keep-all;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 15pt;
}