@charset "UTF-8";

#Menu
{
    background-color: #222;
}
#Menu
{
    margin: 0 auto;
    text-align: center;
}
#Menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#Menu ul li
{
    min-width: 50px;
    max-width: 500px;
    overflow: hidden;
    display: inline-block;
    background-color: #434343;
}
#Menu ul li:hover
{
    background-color: #333;
}
#Menu ul li a, visited
{
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#Menu ul li:hover ul
{
    display: block;
}
#Menu ul ul
{
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#Menu ul ul li
{
    display: block;
}
#Menu ul ul li a:hover
{
    color: #699;
}