@charset "UTF-8";

/* Desktop */
@media (min-width: 1281px)
{
    .FullSizeContent
    {
        width: 100%;
    }

    .TripleSizeContent
    {
        width: 75%;
    }

    .DoubleSizeContent
    {
        width: 50%;
    }

    .SimpleContent
    {
        width: 25%;
    }

    #Middle
    {
        float:left;
        min-height: 500pt;
        overflow: auto;
    }
    #Left
    {
        text-align: left;
        align-content: stretch;
        float: inherit;
        overflow: auto;
    }
    #Center
    {
        text-align: center;
        align-content: space-around;
        float: inherit;
        overflow: auto;
    }
    #Right
    {
        text-align: right;
        align-content: space-around;
        float: inherit;
        overflow: auto;
    }

    #Menu ul li
    {
        width: 200px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1280px)
{
    .FullSizeContent
    {
        width: 100%;
    }

    .TripleSizeContent
    {
        width: 100%;
    }

    .DoubleSizeContent
    {
        width: 66.66666%;
    }

    .SimpleContent
    {
        width: 33.33333%;
    }
    #Middle
    {
        width: inherit;
        float:none;
        min-height: 500pt;
        overflow: auto;
    }
    #Left
    {
        text-align: left;
        align-content: stretch;
        float: left;
        overflow: auto;
    }
    #Center
    {
        text-align: center;
        align-content: space-around;
        float: none;
        overflow: auto;
    }
    #Right
    {
        text-align: right;
        align-content: space-around;
        float: right;
        overflow: auto;
    }

    #Menu ul li
    {
        width: 120px;
    }
}

/* Mobile */
@media (max-width: 767px)
{
    .FullSizeContent
    {
        width: 100%;
    }

    .TripleSizeContent
    {
        width: 100%;
    }

    .DoubleSizeContent
    {
        width: 100%;
    }

    .SimpleContent
    {
        width: 50%;
    }
    #Middle
    {
        width: inherit;
        float:none;
        min-height: 500pt;
        overflow: auto;
    }
    #Left
    {
        text-align: left;
        align-content: stretch;
        float: inherit;
        overflow: auto;
    }
    #Center
    {
        text-align: center;
        align-content: space-around;
        float: inherit;
        overflow: auto;
    }
    #Right
    {
        text-align: right;
        align-content: space-around;
        float: inherit;
        overflow: auto;
    }

    #Menu ul li
    {
        width: 50px;
    }
}